.card__container {
  max-width: 880px;
  margin: 0px auto;
  padding: 0 15px;
  margin-bottom: 16px;
}
.card__wrapper {
  padding: 14px 0;
  border-bottom: 1px solid #eef2f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}
@media (max-width: 800.98px) {
  .card__wrapper {
    gap: 10px;
  }
}
@media (max-width: 540.98px) {
  .card__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.card__left-block {
  max-width: 230px;
}
@media (max-width: 540.98px) {
  .card__left-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
    max-width: 300px;
  }
}
.card__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 552px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .card__right-block {
    display: inline-block;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media (max-width: 540.98px) {
  .card__right-block {
    max-width: 400px;
  }
}
@media (max-width: 863.98px) {
  .card__block-column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.block-left__pictures {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-left__check {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 2px;
  vertical-align: sub;
  margin-top: 5px;
  background: #fafcfd;
  border: 1px solid #d8deeb;
  border-radius: 2px;
  z-index: 3;
}
.block-left__check img {
  border-radius: 6px;
}
.block-left__icons {
  position: absolute;
  bottom: 14px;
  right: 14px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  text-align: center;
  z-index: 3;
}
.block-left__icon {
  vertical-align: middle;
}
.block-left__element {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 58px;
  height: 25px;
  background: url("../img/icons/vector.svg") 0 0 no-repeat;
  z-index: 3;
}
.block-left__element img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 15px;
  height: 15px;
}

.block-right {
  margin-bottom: 20px;
}
.block-right__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block-right__decription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin-right: 16px;
  min-width: 360px;
  margin-bottom: 20px;
}
@media (max-width: 880.98px) {
  .block-right__decription {
    min-width: 280px;
  }
}
@media (max-width: 800.98px) {
  .block-right__decription {
    min-width: 260px;
  }
}
.block-right__titles {
  margin-bottom: 20px;
}
.block-right__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: 3px;
}
.block-right__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: #333153;
}
.block-right__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #606483;
}
.block-right__data {
  min-width: 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
@media (max-width: 767.98px) {
  .block-right__data {
    min-width: 156px;
  }
}
.block-right__descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #080534;
}

.response {
  background: url("../img/data-icons/message.svg") -1px 1px/15px no-repeat;
}
.response__text {
  padding: 0 0 0 20px;
}
.response__text span {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #606483;
}

#response__count {
  color: #5fb6e7;
}

.view {
  background: url("../img/data-icons/eye.svg") -2px -2px/17px no-repeat;
}
.view__text {
  padding: 0 0 0 20px;
}

.liked {
  background: url("../img/data-icons/heart.svg") 0 1px/14px no-repeat;
}
.liked__text {
  padding: 0 0 0 20px;
}

.match {
  background: url("../img/data-icons/like.svg") 0 -1px/15px no-repeat;
}
.match__text {
  padding: 0 0 0 20px;
}

.column__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
@media (max-width: 767.98px) {
  .column__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}
.column__item {
  border: 1px solid #d8deeb;
  background: #fff;
  border-radius: 6px;
  position: relative;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.column__item:hover {
  -webkit-box-shadow: 1px 4px 4px rgba(54, 94, 125, 0.1);
          box-shadow: 1px 4px 4px rgba(54, 94, 125, 0.1);
  -webkit-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  transition: all 0.4s ease-in 0s;
}
.column__item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.progressbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.progressbar-line {
  position: relative;
  background: #eef2f4;
  border-radius: 12px;
  width: 100px;
  height: 8px;
  -ms-flex-item-align: center;
      align-self: center;
  vertical-align: sub;
}
.progressbar-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 8px;
  background: #606483;
  border-radius: 12px 0 0 12px;
}

.progressbar-count {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #606483;
}