.card {
  padding: 15px 0 20px;
}
.card__container {
  max-width: 880px;
  margin: 0px auto;
  padding: 0px 15px 14px;
  margin-bottom: 24px;
  border-bottom: 1px solid #333153;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}
.card__left-block {
  max-width: 230px;
}
.card__right-block {
  max-width: 552px;
}
.card__block-column {
  max-width: 36px;
}

.block-left__pictures {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-left__check {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 2px;
  vertical-align: sub;
  margin-top: 5px;
  background: #fafcfd;
  border: 1px solid #d8deeb;
  border-radius: 2px;
  z-index: 2;
}
.block-left__check img {
  border-radius: 6px;
}
.block-left__icons {
  position: absolute;
  bottom: 14px;
  right: 14px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  text-align: center;
}
.block-left__icon {
  vertical-align: middle;
}
.block-left__element {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 58px;
  height: 25px;
  background: url("../img/icons/vector.svg") 0 0 no-repeat;
}
.block-left__element img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 15px;
  height: 15px;
}

.block-right {
  margin-bottom: 20px;
}
.block-right__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block-right__decription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  min-width: 360px;
}
.block-right__titles {
  margin-bottom: 20px;
}
.block-right__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: 3px;
}
.block-right__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: #333153;
}
.block-right__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #606483;
}
.block-right__data {
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.block-right__descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #080534;
}
.response {
  background: url("../img/data-icons/message.svg") -1px 1px/15px no-repeat;
}
.response__text {
  padding: 0 0 0 20px;
}
.response__text span {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #606483;
}

#response__count {
  color: #5fb6e7;
}

.view {
  background: url("../img/data-icons/eye.svg") -2px -2px/17px no-repeat;
}
.view__text {
  padding: 0 0 0 20px;
}

.liked {
  background: url("../img/data-icons/heart.svg") 0 1px/14px no-repeat;
}
.liked__text {
  padding: 0 0 0 20px;
}

.match {
  background: url("../img/data-icons/like.svg") 0 -1px/15px no-repeat;
}
.match__text {
  padding: 0 0 0 20px;
}

.column__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.column__item {
  border: 1px solid #d8deeb;
  padding: 9px;
  border-radius: 6px;
  cursor: pointer;
}
.column__item:hover {
  -webkit-box-shadow: 1px 4px 4px rgba(54, 94, 125, 0.1);
          box-shadow: 1px 4px 4px rgba(54, 94, 125, 0.1);
  -webkit-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  transition: all 0.4s ease-in 0s;
}

.progressbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.progressbar-line {
  max-width: 50px;
  max-height: 8px;
  background: #eef2f4;
  border-radius: 12px;
}

.progressbar-count {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #606483;
}