@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inter:300italic,regular,500,600,700,800,900&display=swap");
/*------------------- Обнуление стилей---------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  /* по умолчанию */
  font-size: 16px;
}

.header {
  padding: 82px 0;
  max-width: 1470px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header__container {
  width: 850px;
  margin-bottom: 24px;
}

.header__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;
  color: #080534;
  margin-bottom: 16px;
}

.header__list {
  padding: 11.5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
  border-bottom: 1px solid #333153;
}

.header__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  display: inline-block;
  position: relative;
}

.header__link::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  top: 32px;
  left: 0;
  background-color: #333153;
  border-radius: 5px;
}

.header__link.active a {
  font-weight: 500;
  color: #333153;
}

.header__link a {
  font-size: 16px;
  line-height: 1.38;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #728096;
}

.header__amount {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.57;
  color: #728096;
}

.active::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.main {
  max-width: 1470px;
  margin: 0px auto;
  padding: 0px 15px;
}

.main__container {
  width: 850px;
}

.main__choice-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.main__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.section__block-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.section__real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: start;
}

.section__custom-checkbox {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 2px;
  vertical-align: sub;
  margin-top: 5px;
  background: #fafcfd;
  border: 1px solid #d8deeb;
  border-radius: 2px;
}

.section__custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/other-icon/check.svg") 0 0/contain no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all 0.2s ease-in 0;
  -o-transition: all 0.2s ease-in 0;
  transition: all 0.2s ease-in 0;
}

.section__real-checkbox:checked + .section__custom-checkbox::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.section__text-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #606483;
  padding: 6px 10px;
  background: #f3f6f8;
  border-radius: 6px;
}

body {
  line-height: 1;
  font-family: "Inter", sans-serif;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

/* ------------------------------ */
.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
