@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inter:300italic,regular,500,600,700,800,900&display=swap"); /*------------------- Обнуление стилей---------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

html {
  /* по умолчанию */
  font-size: 16px;
}

.header {
  padding: 82px 0;
}
@media (max-width: 991.98px) {
  .header {
    padding: 52px 0;
  }
}
@media (max-width: 767.98px) {
  .header {
    padding: 30px 0 10px;
  }
}
.header__container {
  max-width: 880px;
  margin: 0px auto;
  padding: 0px 15px;
  margin-bottom: 24px;
}
.header__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;
  color: #080534;
  margin-bottom: 16px;
}
.header__list {
  padding: 11.5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
  border-bottom: 1px solid #eef2f4;
}
.header__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link {
  display: inline-block;
  position: relative;
}
.header__link::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  top: 32px;
  left: 0;
  background-color: #333153;
  border-radius: 5px;
}
.header__link.active a {
  font-weight: 500;
  color: #333153;
}
.header__link a {
  font-size: 16px;
  line-height: 1.38;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #728096;
}
.header__amount {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.57;
  color: #728096;
}

.active::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.main__container {
  max-width: 880px;
  margin: 0px auto;
  padding: 0px 15px;
}
.main__choice-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.main__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
@media (max-width: 580.98px) {
  .main__right-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section__block-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.section__real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: start;
}
.section__custom-checkbox {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 2px;
  vertical-align: sub;
  margin-top: 5px;
  background: #fafcfd;
  border: 1px solid #d8deeb;
  border-radius: 2px;
}
.section__custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/other-icon/check.svg") 0 0/contain no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all 0.2s ease-in 0;
  -o-transition: all 0.2s ease-in 0;
  transition: all 0.2s ease-in 0;
}
.section__real-checkbox:checked + .section__custom-checkbox::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.section__text-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #606483;
  padding: 6px 10px;
  background: #f3f6f8;
  border-radius: 6px;
}

.select__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #606483;
  padding: 6px 10px;
  background: #f3f6f8;
  border-radius: 6px;
}

.select-invisible {
  width: 0;
  height: 0;
  z-index: -1;
  opacity: 0;
}

.dropdown-items__content {
  position: relative;
}
.dropdown-items__btn {
  position: relative;
  display: block;
  text-align: left;
  min-width: 180px;
  width: 100%;
  background: #f3f6f8;
  padding: 6px 18px 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  line-height: 1.17;
  color: #606483;
  cursor: pointer;
}
.dropdown-items__btn::before {
  content: "";
  position: absolute;
  top: 65%;
  right: 10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: url("../img/other-icon/arr.svg") 0 0/contain no-repeat;
  pointer-events: none;
  z-index: 1;
}
.dropdown-items__btn:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(54, 94, 125, 0.1);
          box-shadow: 0px 0px 0px 3px rgba(54, 94, 125, 0.1);
}
.dropdown-items__list {
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
  padding: 8px;
  background: #ffffff;
  -webkit-box-shadow: 1px 4px 40px rgba(54, 94, 125, 0.1);
          box-shadow: 1px 4px 40px rgba(54, 94, 125, 0.1);
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  z-index: 5;
}
.dropdown-items__item {
  padding: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #080534;
  cursor: pointer;
}
.dropdown-items__item:hover {
  background: #f3f6f8;
  border-radius: 6px;
}
.dropdown-items__input {
  display: none;
}

.dropdown-items__list--visible {
  display: block;
}

.dropdown-items__btn--active {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(54, 94, 125, 0.1);
          box-shadow: 0px 0px 0px 3px rgba(54, 94, 125, 0.1);
}

.arr-top,
.arr-down {
  position: relative;
}

.arr-top::after,
.arr-down::after {
  content: "";
  position: absolute;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.arr-top::after {
  background: url("../img/other-icon/long-arr.svg") 0 0/contain no-repeat;
  top: 15px;
  right: 1px;
  width: 7px;
  height: 14px;
}

.arr-down::after {
  background: url("../img/other-icon/long-arr.svg") 0 0/contain no-repeat;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 8px;
  right: 2px;
  width: 14px;
  height: 14px;
}

.card__container {
  max-width: 880px;
  margin: 0px auto;
  padding: 0 15px;
  margin-bottom: 16px;
}
.card__wrapper {
  padding: 14px 0;
  border-bottom: 1px solid #eef2f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}
@media (max-width: 800.98px) {
  .card__wrapper {
    gap: 10px;
  }
}
@media (max-width: 540.98px) {
  .card__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.card__left-block {
  max-width: 230px;
}
@media (max-width: 540.98px) {
  .card__left-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
    max-width: 300px;
  }
}
.card__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 552px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .card__right-block {
    display: inline-block;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media (max-width: 540.98px) {
  .card__right-block {
    max-width: 400px;
  }
}
@media (max-width: 863.98px) {
  .card__block-column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.block-left__pictures {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-left__check {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 2px;
  vertical-align: sub;
  margin-top: 5px;
  background: #fafcfd;
  border: 1px solid #d8deeb;
  border-radius: 2px;
  z-index: 2;
}
.block-left__check img {
  border-radius: 6px;
}
.block-left__icons {
  position: absolute;
  bottom: 14px;
  right: 14px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  text-align: center;
}
.block-left__icon {
  vertical-align: middle;
}
.block-left__element {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 58px;
  height: 25px;
  background: url("../img/icons/vector.svg") 0 0 no-repeat;
}
.block-left__element img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 15px;
  height: 15px;
}

.block-right {
  margin-bottom: 20px;
}
.block-right__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block-right__decription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin-right: 16px;
  min-width: 360px;
  margin-bottom: 20px;
}
@media (max-width: 880.98px) {
  .block-right__decription {
    min-width: 280px;
  }
}
@media (max-width: 800.98px) {
  .block-right__decription {
    min-width: 260px;
  }
}
.block-right__titles {
  margin-bottom: 20px;
}
.block-right__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: 3px;
}
.block-right__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: #333153;
}
.block-right__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #606483;
}
.block-right__data {
  min-width: 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
@media (max-width: 767.98px) {
  .block-right__data {
    min-width: 156px;
  }
}
.block-right__descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #080534;
}

.response {
  background: url("../img/data-icons/message.svg") -1px 1px/15px no-repeat;
}
.response__text {
  padding: 0 0 0 20px;
}
.response__text span {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #606483;
}

#response__count {
  color: #5fb6e7;
}

.view {
  background: url("../img/data-icons/eye.svg") -2px -2px/17px no-repeat;
}
.view__text {
  padding: 0 0 0 20px;
}

.liked {
  background: url("../img/data-icons/heart.svg") 0 1px/14px no-repeat;
}
.liked__text {
  padding: 0 0 0 20px;
}

.match {
  background: url("../img/data-icons/like.svg") 0 -1px/15px no-repeat;
}
.match__text {
  padding: 0 0 0 20px;
}

.column__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
@media (max-width: 767.98px) {
  .column__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}
.column__item {
  border: 1px solid #d8deeb;
  background: #fff;
  border-radius: 6px;
  position: relative;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.column__item:hover {
  -webkit-box-shadow: 1px 4px 4px rgba(54, 94, 125, 0.1);
          box-shadow: 1px 4px 4px rgba(54, 94, 125, 0.1);
  -webkit-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  transition: all 0.4s ease-in 0s;
}
.column__item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.progressbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.progressbar-line {
  position: relative;
  background: #eef2f4;
  border-radius: 12px;
  width: 100px;
  height: 8px;
  -ms-flex-item-align: center;
      align-self: center;
  vertical-align: sub;
}
.progressbar-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 8px;
  background: #606483;
  border-radius: 12px 0 0 12px;
}

.progressbar-count {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #606483;
}

.dropdown-dots {
  position: relative;
}
.dropdown-dots__list {
  display: none;
  position: absolute;
  left: -109px;
  top: 137px;
  padding: 8px;
  background: #ffffff;
  -webkit-box-shadow: 1px 4px 40px rgba(54, 94, 125, 0.1);
          box-shadow: 1px 4px 40px rgba(54, 94, 125, 0.1);
  border-radius: 6px;
  overflow: hidden;
  z-index: 5;
}
@media (max-width: 767.98px) {
  .dropdown-dots__list {
    left: 0px;
    top: 42px;
    width: 100%;
  }
}
@media (max-width: 540.98px) {
  .dropdown-dots__list {
    left: 0;
    top: 38px;
    width: 100%;
  }
}
.dropdown-dots__item {
  padding: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  cursor: pointer;
}
.dropdown-dots__item:hover {
  background: #f3f6f8;
  border-radius: 6px;
}
.dropdown-dots__input {
  display: none;
}

.dropdown-items__list--visible {
  display: block;
}

.dropdown-items__btn--active {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(54, 94, 125, 0.1);
          box-shadow: 0px 0px 0px 3px rgba(54, 94, 125, 0.1);
}

.dropdown-dots__btn--active {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(54, 94, 125, 0.1);
  box-shadow: 0px 0px 0px 3px rgba(54, 94, 125, 0.1);
}

.dropdown-dots__list--visible {
  display: block;
}

.btn-arrow {
  background: url("../img/data-icons/arr-top.svg") center center no-repeat;
}

.btn-pen {
  background: url("../img/data-icons/pen.svg") center center no-repeat;
}

.btn-cloud {
  background: url("../img/data-icons/cloud.svg") center center no-repeat;
}

.btn-dots {
  background: url("../img/data-icons/dots.svg") center center no-repeat;
}

.slider {
  width: 230px;
  height: 170px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 540.98px) {
  .slider {
    width: 300px;
    height: 240px;
  }
}

.slides {
  width: 500%;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 540.98px) {
  .slides {
    height: 240px;
  }
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

.slide img {
  width: 230px;
  height: 170px;
}
@media (max-width: 540.98px) {
  .slide img {
    width: 300px;
    height: 240px;
  }
}

/* --- */
.navigation-manual {
  position: absolute;
  bottom: 10px;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 540.98px) {
  .navigation-manual {
    width: 300px;
  }
}

.manual-btn {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 2px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background: rgba(255, 255, 255, 0.5);
}
.manual-btn:not(:last-child) {
  margin-right: 4px;
}
.manual-btn:hover {
  background: #fff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

.navigation-auto {
  position: absolute;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 540.98px) {
  .navigation-auto {
    width: 300px;
  }
}

.navigation-auto div {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 2px;
  border-radius: 10px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 4px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #fff;
}

.title-color-1 {
  color: #ff5a50;
}

.title-color-2 {
  color: #2f93e1;
}

.icon-bg-color-1 {
  background: #2f93e1;
}

.icon-bg-color-2 {
  background: #ff5a50;
}

.icon-bg-color-3 {
  background: #ff5a50;
}

.icon-bg-color-4 {
  background: #ffa438;
}

body {
  line-height: 1;
  font-family: "Inter", sans-serif;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  max-width: 1470px;
  margin: 0 auto;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}