.card {
  padding: 15px 0 20px;

  // .card__container
  &__container {
    max-width: 880px;
    margin: 0px auto;
    //padding: 0px 15px;
    padding: 0px 15px 14px;
    margin-bottom: 24px;
    border-bottom: 1px solid #333153;
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  // .card__left-block
  &__left-block {
    max-width: 230px;
  }

  // .card__right-block
  &__right-block {
    max-width: 552px;
  }
  //.card__block-column
  &__block-column {
    max-width: 36px;
  }
}

.block-left {
  // .block-left__pictures
  &__pictures {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__check {
    position: absolute;
    top: 11px;
    left: 12px;
    width: 16px;
    height: 16px;
    background: #ffffff;
    border-radius: 2px;
    vertical-align: sub;
    margin-top: 5px;
    background: #fafcfd;
    border: 1px solid #d8deeb;
    border-radius: 2px;
    z-index: 2;
  }

  &__check img {
    border-radius: 6px;
  }

  &__icons {
    position: absolute;
    bottom: 14px;
    right: 14px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    text-align: center;
  }

  &__icon {
    vertical-align: middle;
  }

  &__element {
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 58px;
    height: 25px;
    background: url("../img/icons/vector.svg") 0 0 no-repeat;
  }

  &__element img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
  }
}

//----------block right-------------
.block-right {
  margin-bottom: 20px;

  // .block-right__content
  &__content {
    display: flex;
  }

  // .block-right__decription
  &__decription {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 360px;
  }

  // .block-right__titles
  &__titles {
    margin-bottom: 20px;
  }

  // .block-right__title
  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 3px;
  }

  // .block-right__subtitle
  &__subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    color: #333153;
  }

  // .block-right__text
  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: #606483;
  }

  // .block-right__data
  &__data {
    min-width: 176px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  // .block-right__descr
  &__descr {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: #080534;
  }

  // .block-right__progreebar
  &__progreebar {
  }
}

.response {
  background: url("../img/data-icons/message.svg") -1px 1px/15px no-repeat;

  // .response__text
  &__text {
    padding: 0 0 0 20px;
  }

  &__text span {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    color: #606483;
  }
}

//response +1
#response__count {
  color: #5fb6e7;
}

//------------------------
.view {
  background: url("../img/data-icons/eye.svg") -2px -2px/17px no-repeat;

  // .view__text
  &__text {
    padding: 0 0 0 20px;
  }
}

.liked {
  background: url("../img/data-icons/heart.svg") 0 1px / 14px no-repeat;

  // .liked__text
  &__text {
    padding: 0 0 0 20px;
  }
}

.match {
  background: url("../img/data-icons/like.svg") 0 -1px/ 15px no-repeat;

  // .match__text
  &__text {
    padding: 0 0 0 20px;
  }
}

//------- card column items---------
.card {
  // .card__block-column

  &__block-column {
  }
}

.column {
  // .column__content

  &__content {
  }

  // .column__items
  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  // .column__item
  &__item {
    border: 1px solid #d8deeb;
    border-radius: 6px;
    position: relative;
    width: 36px;
    height: 36px;
    cursor: pointer;
    &:hover {
      box-shadow: 1px 4px 4px rgb(54 94 125 / 10%);
      transition: all 0.4s ease-in 0s;
    }
  }

  &__item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
//-------progressbar-------
.progressbar {
  display: flex;
  gap: 10px;
}
.progressbar-line {
  max-width: 50px;
  max-height: 8px;
  background: #eef2f4;
  border-radius: 12px;
}
.progressbar-count {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #606483;
}
