.card {
  // .card__container
  &__container {
    max-width: 880px;
    margin: 0px auto;
    padding: 0 15px;
    margin-bottom: 16px;
  }

  &__wrapper {
    padding: 14px 0;
    border-bottom: 1px solid #eef2f4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    @media (max-width: 800.98px) {
      gap: 10px;
    }
    @media (max-width: 540.98px) {
      justify-content: center;
    }
  }
  // .card__left-block
  &__left-block {
    max-width: 230px;
    @media (max-width: 540.98px) {
      justify-content: center;
      margin-bottom: 20px;
    }
  }

  // .card__right-block
  &__right-block {
    display: flex;
    max-width: 552px;
    flex-wrap: wrap;

    @media (max-width: 767.98px) {
      display: inline-block;
      flex-wrap: nowrap;
    }
    @media (max-width: 540.98px) {
      max-width: 400px;
    }
  }
  //.card__block-column
  &__block-column {
    @media (max-width: 863.98px) {
      flex-direction: row;
    }
  }
}

.block-left {
  // .block-left__pictures
  &__pictures {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__check {
  }

  &__check img {
    border-radius: 6px;
  }

  &__icons {
    position: absolute;
    bottom: 14px;
    right: 14px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    text-align: center;
    z-index: 3;
  }

  &__icon {
    vertical-align: middle;
  }

  &__element {
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 58px;
    height: 25px;
    background: url("../img/icons/vector.svg") 0 0 no-repeat;
    z-index: 3;
  }

  &__element img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
  }
}
//----------custom checkbox button public
.public {
  // .public__check

  &__check {
  }

  // .public__block-data

  &__block-data {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  // .public__real-checkbox

  &__real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 18px;
    left: 14px;
    z-index: -1;
    display: flex;
    align-self: start;
  }

  // .public__custom-checkbox

  &__custom-checkbox {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    background: #ffffff;
    border-radius: 2px;
    vertical-align: sub;
    margin-top: 5px;
    background: #fafcfd;
    border: 1px solid #d8deeb;
    border-radius: 2px;

    position: absolute;
    top: 11px;
    left: 12px;

    //width: 16px;
    //height: 16px;
    //background: #ffffff;
    //border-radius: 2px;
    //vertical-align: sub;
    //margin-top: 5px;
    //background: #fafcfd;
    //border: 1px solid #d8deeb;
    //border-radius: 2px;
    z-index: 2;
    &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url("../img/other-icon/check.svg") 0 0 / contain no-repeat;
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all 0.2s ease-in 0;
      transform: translate(-50%, -50%) scale(0);
    }
  }
  &__real-checkbox:checked + &__custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
  }
}

//----------block right-------------
.block-right {
  margin-bottom: 20px;

  // .block-right__content
  &__content {
    display: flex;
  }

  // .block-right__decription
  &__decription {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: 16px;
    min-width: 360px;
    margin-bottom: 20px;
    @media (max-width: 880.98px) {
      min-width: 280px;
    }
    @media (max-width: 800.98px) {
      min-width: 260px;
    }
  }

  // .block-right__titles
  &__titles {
    margin-bottom: 20px;
  }

  // .block-right__title
  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 3px;
  }

  // .block-right__subtitle
  &__subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    color: #333153;
  }

  // .block-right__text
  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: #606483;
  }

  // .block-right__data
  &__data {
    min-width: 176px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    @media (max-width: 767.98px) {
      min-width: 156px;
    }
  }

  // .block-right__descr
  &__descr {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: #080534;
  }
}

.response {
  background: url("../img/data-icons/message.svg") -1px 1px/15px no-repeat;

  // .response__text
  &__text {
    padding: 0 0 0 20px;
  }

  &__text span {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    color: #606483;
  }
}

//response +1
#response__count-color1 {
  color: #5fb6e7;
}
#response__count-color2 {
  color: #ff9316;
}
//------------------------
.offer {
  background: url("../img/data-icons/offer.svg") -2px -2px/17px no-repeat;
  &__text {
    padding: 0 0 0 20px;
  }
  &__text span {
    padding: 0 0 0 10px;
  }
}

.view {
  background: url("../img/data-icons/eye.svg") -2px -2px/17px no-repeat;

  // .view__text
  &__text {
    padding: 0 0 0 20px;
  }
  &__text span {
    padding: 0 10px 0 0;
  }
}

.liked {
  background: url("../img/data-icons/heart.svg") 0 1px / 14px no-repeat;

  // .liked__text
  &__text {
    padding: 0 0 0 20px;
  }
  &__text span {
    padding: 0 0 0 10px;
  }
}

.match {
  background: url("../img/data-icons/like.svg") 0 -1px/ 15px no-repeat;

  // .match__text
  &__text {
    padding: 0 0 0 20px;
  }
  &__text span {
    padding: 0 0 0 10px;
  }
}

//------- card column items---------
.column {
  // .column__items
  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media (max-width: 767.98px) {
      display: flex;
      flex-direction: row;
      gap: 30px;
    }
    @media (max-width: 540.98px) {
    }
  }

  // .column__item
  &__item {
    border: 1px solid #d8deeb;
    background: #fff;
    border-radius: 6px;
    position: relative;
    width: 36px;
    height: 36px;
    cursor: pointer;
    &:hover {
      box-shadow: 1px 4px 4px rgb(54 94 125 / 10%);
      transition: all 0.4s ease-in 0s;
    }
  }

  &__item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//-------progressbar-------
.progressbar {
  display: flex;
  gap: 10px;
}

.progressbar-line {
  position: relative;
  background: #eef2f4;
  border-radius: 12px;
  width: 100px;
  height: 8px;
  align-self: center;
  vertical-align: sub;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 8px;
    background: #606483;
    border-radius: 12px 0 0 12px;
  }
}
.progressbar-count {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #606483;
}
