.card {
  padding: 15px 0 20px;

  // .card__container
  &__container {
    max-width: 1470px;
    margin: 0px auto;
    padding: 0px 15px;
    margin-bottom: 24px;
    border-bottom: 1px solid #333153;
  }

  // .card__left-block

  &__left-block {
  }

  // .card__right-block

  &__right-block {
  }
}
.block-left {
  // .block-left__pictures

  &__pictures {
  }
}
.block-right {
  margin-bottom: 20px;

  // .block-right__content
  &__content {
    display: flex;
  }

  // .block-right__decription
  &__decription {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 360px;
  }

  // .block-right__titles
  &__titles {
    margin-bottom: 20px;
  }

  // .block-right__title
  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #2f93e1;
    margin-bottom: 3px;
  }

  // .block-right__subtitle
  &__subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    color: #333153;
  }

  // .block-right__text
  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: #606483;
  }

  // .block-right__data
  &__data {
    min-width: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  // .block-right__descr

  &__descr {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: #080534;
  }

  // .block-right__progreebar

  &__progreebar {
  }
}
.response {
  background: url("../img/data-icons/message.svg") -1px 1px/15px no-repeat;

  // .response__text
  &__text {
    padding: 0 0 0 20px;
  }
  &__text span {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    color: #606483;
  }
}
//response +1
#response__count {
  color: #5fb6e7;
}
//---------
.view {
  background: url("../img/data-icons/eye.svg") -2px -2px/17px no-repeat;

  // .view__text

  &__text {
    padding: 0 0 0 20px;
  }
}
.liked {
  background: url("../img/data-icons/heart.svg") 0 1px / 14px no-repeat;
  // .liked__text

  &__text {
    padding: 0 0 0 20px;
  }
}
.match {
  background: url("../img/data-icons/like.svg") 0 -1px/ 15px no-repeat;

  // .match__text
  &__text {
    padding: 0 0 0 20px;
  }
}
