.dropdown-dots {
  position: relative;
  &__list {
    display: none;
    position: absolute;
    left: -109px;
    top: 137px;
    //left: 0;
    //top: 38px;
    padding: 8px;
    background: #ffffff;
    box-shadow: 1px 4px 40px rgba(54, 94, 125, 0.1);
    border-radius: 6px;
    overflow: hidden;
    //width: 100%;
    z-index: 5;
    @media (max-width: 767.98px) {
      left: 0px;
      top: 42px;
      width: 100%;
    }
    @media (max-width: 540.98px) {
      left: 0;
      top: 38px;
      width: 100%;
    }
  }
  &__item {
    padding: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: #080534;
    cursor: pointer;
    &:hover {
      background: #f3f6f8;
      border-radius: 6px;
    }
  }
  &__input {
    display: none;
  }
}

.dropdown-items__list--visible {
  display: block;
}
.dropdown-items__btn--active {
  outline: none;
  box-shadow: 0px 0px 0px 3px rgba(54, 94, 125, 0.1);
}

//&__link.active {
//  color: #080534;
//}

//.active::after {
//  transform: scaleX(1);
//}

.dropdown-dots__btn--active {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 3px rgb(54 94 125 / 10%);
  box-shadow: 0px 0px 0px 3px rgb(54 94 125 / 10%);
}

.dropdown-dots__list--visible {
  display: block;
}
