.main {
  // .main__container
  &__container {
    max-width: 1470px;
    margin: 0px auto;
    padding: 0px 15px;
  }

  // .main__choice-block
  &__choice-block {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  // .main__right-block
  &__right-block {
    display: flex;
    gap: 10px;
    @media (max-width: 580.98px) {
      flex-wrap: wrap;
    }
  }
}
.section {
  // .section__block-data

  &__block-data {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  // .section__real-checkbox
  &__real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
    display: flex;
    align-self: start;
  }

  // .section__custom-checkbox
  &__custom-checkbox {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    background: #ffffff;
    border-radius: 2px;
    vertical-align: sub;
    margin-top: 5px;

    background: #fafcfd;
    border: 1px solid #d8deeb;
    border-radius: 2px;
    &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url("../img/other-icon/check.svg") 0 0 / contain no-repeat;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: all 0.2s ease-in 0;
    }
  }

  &__real-checkbox:checked + &__custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
  }

  // .section__text-checkbox
  &__text-checkbox {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    align-items: center;
    color: #606483;
    padding: 6px 10px;
    background: #f3f6f8;
    border-radius: 6px;
  }
}
.select {
  // .select__items
  &__items {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    align-items: center;
    color: #606483;
    padding: 6px 10px;
    background: #f3f6f8;
    border-radius: 6px;
  }
}
.select-invisible {
  width: 0;
  height: 0;
  z-index: -1;
  opacity: 0;
}

//кастомная сортировка элементов
.dropdown-items {
  //dropdown__content
  &__content {
    position: relative;
  }
  .dropdown-items__btn {
    position: relative;
    display: block;
    text-align: left;
    min-width: 180px;
    width: 100%;
    background: #f3f6f8;
    padding: 6px 18px 6px 10px;
    border-radius: 6px;

    font-size: 12px;
    line-height: 1.17;
    color: #606483;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;

      top: 65%;
      right: 10px;
      transform: translateY(-50%);

      width: 14px;
      height: 14px;
      background: url("../img/other-icon/arr.svg") 0 0 / contain no-repeat;

      pointer-events: none;
      z-index: 1;
    }
    &:focus {
      outline: none;
      box-shadow: 0px 0px 0px 3px rgba(54, 94, 125, 0.1);
    }
  }
  &__list {
    display: none;

    position: absolute;
    left: 0;
    top: 30px;
    padding: 8px;
    background: #ffffff;
    box-shadow: 1px 4px 40px rgba(54, 94, 125, 0.1);
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    z-index: 2;
  }
  &__item {
    padding: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: #080534;
    cursor: pointer;
    &:hover {
      background: #f3f6f8;
      border-radius: 6px;
    }
  }
  &__input {
    display: none;
  }
}

.dropdown-items__list--visible {
  display: block;
}
.dropdown-items__btn--active {
  outline: none;
  box-shadow: 0px 0px 0px 3px rgba(54, 94, 125, 0.1);
}

//------ стрелки option select
.arr-top,
.arr-down {
  position: relative;
}
.arr-top::after,
.arr-down::after {
  content: "";
  position: absolute;

  transform: translateY(-50%);
}
.arr-top::after {
  background: url("../img/other-icon/long-arr.svg") 0 0 / contain no-repeat;
  top: 15px;
  right: 1px;
  width: 7px;
  height: 14px;
}
.arr-down::after {
  background: url("../img/other-icon/long-arr.svg") 0 0 / contain no-repeat;
  transform: rotate(180deg);
  top: 8px;
  right: 2px;
  width: 14px;
  height: 14px;
}
